.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-content {
  display: flex; /* Aligns items in a row */
  flex-wrap: wrap; /* Allows items to wrap to the next line if needed */
  justify-content: space-around; /* Evenly spaces items */
  align-items: flex-start; /* Align items to the top */
  width: 100%; /* Full width */
  max-width: 1200px; /* Optional: limits the max width of the container */
  gap: 20px; /* Space between items */
}

.counter-text {
  color: white; /* Ensure counter text is white */
  font-size: 2rem; /* Adjust the size as needed */
}

.thermo-text {
  font-size: 1.5rem; /* Make the thermometer text larger */
  color: white; /* Text color for the thermometer */
  margin-bottom: 10px; /* Add space below the text */
}

.speedometer-text {
  fill: white; /* Text color for the speedometer */
}


.battery-percentage {
  margin-bottom: 10px; /* Add space between the percentage text and the battery */
  color: white; /* Text color for the battery */
}


.daq-connected {
  width: 300px; /* Adjust as needed */
  height: 300px; /* Ensure width and height are the same */
  border-radius: 50%; /* Makes it a circle */
  background-color: lightgreen; /* Adjust color as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem; /* Adjust font size as needed */
  color: black; /* Text color */
}


/* Add consistent box sizing for all child components */
.app-content > div {
  min-width: 200px; /* Set a minimum width for uniformity */
  flex: 1; /* Allow components to grow and shrink equally */
}
